      <h2>User info</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= image_tag user.get_profile_image(100, 100) %>
        </li>
        <li class="list-group-item">
          <b>name <%= user.name %></b>
        </li>
        <li class="list-group-item">
          <b>introduction <%= user.introduction %></b>
        </li>
      </ul>
      <% if user == current_user %>
        <i class="fa-solid fa-user-gear">
          <%= link_to "useredit", edit_user_path(user.id) %>
        </i>
      <% else %>
        <i class="fa-solid fa-user-gear"></i>
          <%= link_to "myuserBooks", user_path(current_user.id) %>
        </i>
      <% end %>
<!--<i class="fa-solid fa-user-gear"></i>-->